.detail{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}
.detail_items{
    display: block;
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--grayColor);
    border-radius: 0.7rem;
}
.detail_item{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
.detail_item_icon{
    font-size: 1.5rem;
    color: var(--secondary);
    margin-left: 0.4rem;
}
.detail_item_text{
    font-family: var(--danaBold);
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--primary);
}
.detail_item_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}