.about{
    display: block;
    width: 100%;
    margin-top: 5rem;
}
.about_wrapper{
    display: block;
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 10px 7px var(--shadowColor);
}
.about_desc{
    display: block;
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.8;
    color: var(--primary);
    margin-bottom: 1.5rem;
}