/* <<<< Import File Css >>>> */
@import url(../style/reset.module.css);
/* <<<< Import File Font Family >>>> */
@font-face {
  font-family: danaRegular;
  src: url(/public/font/Dana-Regular.woff) format(woff);
}
@font-face {
  font-family: danaMedium;
  src: url(/public/font/Dana-Medium.woff) format(woff);
}
@font-face {
  font-family: danaBold;
  src: url(/public/font/Dana-Bold.woff) format(woff);
}
@font-face {
  font-family: danaBlack;
  src: url(/public/font/Dana-Black.woff) format(woff);
}
/* <<<< Root Variable >>>> */
:root{
  --danaRegular : danaRegular;
  --danaMedium : danaMedium;
  --danaBold : danaBold ; 
  --danaBlack : danaBlack;

  --blackColor: #000;
  --whiteColor : #fff;
  --primary : #5D728B;
  --secondary: #00C58D;
  --grayColor : #EDEFEF;
  --bgColor : #FAFAFA;
  --redColor : #FF0000;
  --yellowColor : #FFA500;
  --blueColor : #5A8DEE;
  --shadowColor : #F4F4F4;
}
/* <<<< Style Body >>>> */
body{
  margin: 0;
  padding: 0;
  direction: rtl;
  box-sizing: border-box;
  font-family: var(--danaRegular) !important;
  font-style: normal;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--bgColor) !important;
}
/* <<<< Containers >>>> */
.containers{
  max-width: 95rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* <<<< btn_primary>>>> */
.btn_primary{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 120px;
  height: 2.5rem;
  background-color: var(--redColor);
  font-family: var(--danaBold);
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--whiteColor);
  border-radius: 0.5rem   ;
  transition: all 0.4s ease-out;
}
.btn_primary:hover{
  border: 1px solid var(--redColor);
  color: var(--redColor);
  background-color: var(--whiteColor);
}
/* <<<< btn_secondary >>>> */
.btn_secondary{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 120px;
  height: 2.5rem;
outline: none;
border: none;
background-color: unset;
border: 2px solid var(--secondary);
border-radius: 0.4rem;
font-family: var(--danaBold);
font-size: 1.1rem;
font-weight: 700;
color: var(--primary);
transition: all 0.4s ease-out;
}
.btn_secondary:hover{
  background-color: var(--secondary);
  color: var(--whiteColor);
}
/* <<<< style form >>>> */
.form_title{
  display: block;
  font-family: var(--danaBlack);
  font-size: 1.5rem;
}
.form{
  display: block;
  width: 100%;
  margin-top: 1rem;
}
.form_input{
  display: block;
  margin-bottom: 1.5rem;
  width: 100%;
  height: 2.5rem;
  outline: none;
  border: 1px solid var(--blueColor);
  border-radius: 0.4rem;
  padding-right: 0.3rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--blackColor);
}
.form_submit{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.5rem;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  background-color: var(--blueColor);
  font-family: var(--danaBold);
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--whiteColor);
  transition: all 0.4s ease-out;
}
.form_submit:hover{
  background-color: var(--secondary);
}

/* <<<< shop >>>> */
.shop_Wrapper{
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: var(--whiteColor);
  box-shadow: 0 0 10px 7px var(--shadowColor);
  border-radius: 0.6rem;
}
.shop_title{
  display: block;
  font-family: var(--danaBold);
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--primary);
}