.productCard{
    display: block;
    max-width: 300px;
    padding: 1rem;
    background-color: var(--whiteColor);
    border-radius: 0.7rem;
}
.productCard_image{
    max-width: 100%;
}
.productCard_content{
    display: block;
    margin-top: 1rem;
}
.productCard_title{
    font-family: var(--danaBold);
    font-size: 1rem;
    color: var(--primary);
}
.productCard_prices{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 1rem 0;
}
.productCard_price_number{
    font-size: 1.2rem;
    font-weight: 700;
}
.productCard_price_text{
    display: block;
    margin-right: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary);
}
